
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container">
          <div class="navbar-translate">
            <h2 class=" m-0 p-0" href="#0">Fitlife</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="active nav-item">
                <a href="#pablo" class="nav-link">
                  <i class="material-icons">explore</i>
                  Discover
                </a>
              </li>
              <li class="nav-item">
                <a href="#pablo" class="nav-link">
                  <i class="material-icons">account_circle</i>
                  {{ user.username }}
                </a>
              </li>
              <li class="nav-item">
                <a href="#pablo" class="nav-link">
                  <i class="material-icons">settings</i>
                  Settings
                </a>
              </li>
            </ul>
          </div>
        </div>
    </nav>